---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>🧑‍🚀 欢迎来到计算机二级通！</h2>

		<p>在这里，我将为您提供关于计算机二级考试的辅导和指导。 </p>
			<p>
			作为一名热爱计算机技术的专业人士，我深知通过考取计算机二级证书可以为您的职业生涯带来更多机会和发展。而这个网站，就是为您提供一站式的学习资源和辅导服务。
			</p>
			<p>
			在本网站上，您将找到各种精心准备的教程、考试技巧和习题练习，帮助您更好地准备和备考计算机二级考试。无论您是初学者还是有一定基础的程序员，这里都有适合您的内容和解决方案。

			</p>
			<p>除了学习资源，我们还致力于建立一个互助和交流的学习社区。您可以在论坛上和其他学习者互动交流，分享学习心得和解决问题经验，共同成长和进步。
</p>
			<p>
			

如果您对我的网站感兴趣，欢迎浏览更多内容和参与互动。祝您在这里学习愉快，取得理想的成绩！
			</p>
		
			
		</main>
		<Footer />
	</body>
</html>
